#box1
{
}

.base
{
  position: absolute;
  left: 100px;
  top: 200px;
  width: 100px;
  height: 100px;
}

.start
{
  background-color: #f00;
  left: 100px;
  top: 200px;
  width: 100px;
  height: 100px;
}

.step1
{
  background-color: #00f;
  width: 200px;
}

.step2
{
  background-color: #0f0;
  width: 300px;
}

.step3
{
  background-color: #f50;
  width: 800px;
}