#box1
{
  position: absolute;
}

.start
{
  background-color: #f00;
  left: 200px;
  top: 200px;
  width: 100px;
  height: 100px;
}

.step1
{
  background-color: #00f;
  left: 500px;
  top: 300px;
  width: 200px;
  height: 50px;
}